.git/
.github/
.idea/
.claude/

.env
.env.example
.coderabbit.yaml
.codex
.golangci.yaml

docs/
k6/
test/
build/
db/

*.md
swagger.yaml
Taskfile.yaml
compose.yaml


frontend/node_modules/

deploy/
!deploy/nginx/
